.page-name > h1{
    padding-top: 5px;
}

.page-name img{
    padding-top: 80px;
}

.form-main-text{
    padding-top: 98px;
    text-align: center;
}

.form-main-text h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 7px;
}

.form-main-text p{
    color: #9F9F9F;
    margin-bottom: 14px;
}

.form-container{
    margin-top: 82px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.form-address{
    height: 537px;
    width: 393px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:baseline;
    gap: 42px;
}

.form-input{
    margin-top: 80px;
    width: 635px;
    margin-left: 82px;
    margin-bottom: 63px;
}

.form-address div{
    padding-left: 106px;
}

.form-address > div span{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    margin-left: 20px;
}

.form-address > div p{
    font-size: 16px;
    font-weight: 400;
}

.form-input label{
    font-size: 16px;
    font-weight: 500;
}

.form-input > form > label input{
    width: 524px;
    height: 71px;
    border-radius: 10px;
    border: 1px solid #9F9F9F;
    margin-top: 22px;
    margin-bottom: 36px;
}

label input::placeholder{
    padding-left: 30px;
    font-weight: 400;
    font-size: 16px;
}

textarea{
    margin: 22px 0 49px;
    border-radius: 10px;
    border: 1px solid #9F9F9F;
}

textarea::placeholder{
    margin-top: 26px;
    padding: 26px 0 0 30px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
}

.form-input button{
    width: 237px;
    height: 55px;
    border-radius: 5px;
    background-color: #B88E2F;
    color: white;
    border: 1px solid #B88E2F;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}

.form-input button:hover{
    color: #B88E2F;
    background-color: white;
}

.facilities{
    margin-bottom:  30px;
}

.border-line{
    border-bottom: 1px solid #0000002B;
}