*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: white;
    font-family: "Poppins";
}

a{
    color:black
}

.navbar{
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    margin-left: 54px;
}

.furniro-logo{
    padding: 0 0 3px 3px
}

.nav-button{
    width: 430px;
    height: 24px;
    display: flex;
    gap: 75px;
    font-weight: 500;
    font-size: 16px;
    
}

.nav-button a:hover{
    color: white;
    background-color: black;
}

.icon-button img:hover{
    filter: invert(50%);
}

.icon-button{
    display: flex;
    gap: 45px;
    margin-right: 100px;
}

.hero{
    height: 716px;
    background-image: url(/media/hero-bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}

.hero-content{
    width: 643px;
    height: 443px;
    position:absolute;
    background-color: #fff3e3;
    top: 253px;
    left: 51.5%;
    border-radius: 10px;
}

.hero-conteiner{
    padding: 62px 0 0 39px;
}

.hero-p1{
    font-weight: 600;
    padding-bottom: 4px;
    letter-spacing: 3px;
}

.hero-conteiner > h2{
    font-weight: 700;
    font-size: 52px;
    color:#B88E2F;
    padding-bottom: 18px;
    height: 127px;
    line-height: 65px;
}

.hero-p2{
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 46px;
}

.hero-conteiner > form > button{
    width: 222px;
    height: 74px;
    background-color: #B88E2F;
    color: white;
    border: 2px solid #B88E2F;
    font-weight: 700;
    font-size: 16px;
    cursor:pointer;
}

.hero-conteiner button:hover{
    color: #B88E2F;
    background-color: white;
}

.category{
    width: 1183px;
    height: 685px;
    margin: 56px 0 56px;
    margin-inline: auto;
}

.category-text{
    text-align: center;
}

.category-text > h2{
    font-size: 32px;
    color: #333333;
}

.category-text > p{
    font-size: 20px;
    color: #666666;
    margin-bottom: 62px;
}

.category-items{
    display: flex;
    gap: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;

}

.category-items > div > a > div{
    width: 381px;
    height: 480px;
    border-radius: 10px;
}

.cat-item1{
    background-image: url(/media/category-item1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cat-item2{
    background-image: url(/media/category-item2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}

.cat-item3{
    background-image: url(/media/category-item3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
}

.category-items > div > p{
    margin-top: 30px;
}

.products-container{
    width: 1236px;
    height: 1084px;
    margin: auto;
    text-align: center;
}

.products-container > form > button{
    width: 245px;
    height: 48px;
    color: #B88E2F;
    border-color: #B88E2F;
    font-size: 16px;
    font-weight: 600;
    border-style:solid;
    background-color: white;
}

.products-container > form > button:hover{
    color: white;
    background-color: #B88E2F;
    cursor: pointer;
}

.products h2{
    font-size: 40px;
}

.products-row1{
    margin: 32px 0 32px;
    display: flex;
    gap: 32px;
    text-align: left;
}

.products-row2{
    display: flex;
    gap: 32px;
    text-align: left;
    margin-bottom: 32px;
}

.image-container img{
    width: 285px;
    height: 301px;
}

.product-card{
    position: relative;
    width: 285px;
    height: 446px;
    background-color:#F4F5F7;
}

.discount{
    color: white;
    top: 20px;
    right: 20px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #E97171;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card-info{
    margin-top: 16px;
    padding-left: 16px;
}

.product-card-info > h3{
    font-size: 24px;
    font-weight: 600;
}

.product-description{
    color: #898989;
    font-weight: 500;
    margin: 8px 0 8px;
}

.price{
    font-size: 20px;
    font-weight: 600;
}

.price > span{
    font-size: 16px;
    font-weight: 400;
    color: #B0B0B0;
    text-decoration: line-through;
}

.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0.0, 0.0, 0.0, 0.5);
    transition: opacity 0.3s ease;
}

.overlay-buttons{
    display: flex;
    gap: 20px;
    color: white;
}

.overlay-buttons i{
    cursor: pointer;
}

.overlay  button{
    width: 202px;
    height: 48px;
    color: #B88E2F;
    font-size: 16px;
    font-weight: 600;
    cursor:pointer;
    border: none;
}

.overlay button:hover{
    background-color: #d8d8d8;
    transition: 0.3s ease;
}

.product-card:hover .overlay{
    opacity: 1;
}

.inspiration{
    height: 670px;
    background-color: #FCF8F3;
    margin-top: 69px;
    margin-inline: auto;
    overflow: hidden;
}

.inspiration-container{
    width: 1440px;
    margin-inline: auto;
    display: flex;
    gap: 42px;
}

.inspiration-text{
    margin: 223px 0 0 100px;
}

.inspiration-text h2{
    width: 422px;
    font-size: 40px;
}

.inspiration-text p{
    font-weight: 500;
    color: #616161;
    margin: 7px 0 25px;
}

.inspiration-text button{
    width: 176px;
    height: 48px;
    background-color: #B88E2F;
    color: white;
    border: none;
    font-size: 16px;
    font-weight:600;
}

.inspiration-text button:hover{
    color: #B88E2F;
    background-color: white;
    border: #B88E2F 2px solid;
}

.inspiration-items{
    width: 1196px;
    height: 582px;
    overflow: hidden;
    margin-top: 44px;
    display: flex;
    overflow: visible;
    gap: 24px;
}

.insp-item1, .insp-item1 > img{
    position: relative;
    z-index: 0;
    width: 404px;
    height: 582px;
    overflow: hidden;
}

.insp-item-text{
    position: absolute;
    bottom: 30px;
    left: 24px;
    width: 217px;
    height: 130px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1;
}

.insp-item-text p {
    margin: 32px 0 0 32px;
    font-size: 16px;
    font-weight: 500;
    color: #616161;
}

.insp-item-text h3{
    margin-left: 32px;
    font-size: 28px;
    font-weight: 600;
}

.insp-item-text > i{
    width: 48px;
    height: 48px;
    position: absolute;
    background-color: #B88E2F;
    right: -48px;
    bottom: 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insp-item-text > i:hover{
    background-color: white;
    color: #B88E2F;
}

.insp-blur{ /* kak eto delat'???*/
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    background-color: white;
    top: 0;
    opacity: 77%;
    z-index: -1;
}

.insp-item2, .insp-item2 > img{
    width: 372px;
    height: 486px;
    position: relative;
}

.inspiration-indicator{
    position: absolute;
    display: flex;
    gap: 20px;
    bottom: -55px;
    align-items: center;
}

.indicator2, .indicator3, .indicator4{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #D8D8D8;
}

.indicator1{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: white;
    border: #B88E2F solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator1-1{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #B88E2F;
}

.insp-item3 > button{
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: white;
    color: #B88E2F;
    font-size: 25px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 14px 0px #00000029;
    bottom: 179px;
    right: 100px;
}

.insp-item3 > button:hover{
    color: white;
    background-color: #B88E2F;
    transition: 0.5s ease;
}

.insp-item3{
    width: 372px;
    height: 486px;
    position: relative;
}

.insp-item3 img{
    width: 100%;
    height: 100%;
}

.share{
    overflow: hidden;
    height: 780px;
}

.share-text{
    text-align: center;
    margin-top: 67px;
}

.share-text > p{
    font-size: 20px;
    font-weight: 600;
    color: #616161;
}

.share-text > h2{
    font-size: 40px;
    margin-top: 8px;
    color: #3a3a3a;
}

.share-content{
    width: 1440px;
    height: 780px;
    position: relative;
    margin-inline: auto;
}

.share-photo-5{
    width: 295px;
    height: 392px;
    position: absolute;
    right: 584px;
    top: 142px;
}

.share-photo-3{
    width: 451px;
    height: 312px;
    object-fit: cover;
    position: absolute;
    bottom: 439px;
    left: 94px;
}

.share-photo-4{
    width: 344px;
    height: 242px;
    position: absolute;
    bottom: 181px;
    left: 201px;
}

.share-photo-2{
    width: 381px;
    height: 323px;
    position: absolute;
    bottom: 100px;
    left: -196px;
    object-fit: cover;
}

.share-photo-1{
    width: 274px;
    height: 382px;
    position: absolute;
    bottom: 439px;
    left: -196px;
    object-fit: cover;
}

.share-photo-6{
    width: 290px;
    height: 348px;
    position: absolute;
    right: 278px;
    bottom: 374px;
    object-fit: cover;
}

.share-photo-7{
    width: 178px;
    height: 242px;
    position: absolute;
    right: 390px;
    bottom: 116px;
}

.share-photo-8{
    width: 425px;
    height: 433px;
    position: absolute;
    bottom: 374px;
    right: -163px;
    object-fit: cover;
}

.share-photo-9{
    width: 258px;
    height: 196px;
    position: absolute;
    bottom: 162px;
    right: 116px;
}

footer{
    margin-top: 50px;
    height: 505px;
    width: 1440px;
    margin-inline: auto;
}

.footer-content{
    margin-top: 48px;
    margin-inline: auto;
    width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
}

.footer-address h3{
    font-size: 24px;
    margin-bottom: 50px;
}

.footer-address p{
    font-size: 16px;
    font-weight: 400;
    color: #9f9f9f;
}

.footer-copyright{
    border-top: 1px solid #d9d9d9;
    height: 59px;
    display: flex;
    align-items: end;
}

.footer-links{
    display: flex;
}

.footer-link ul{
    list-style-type: none;
    color: #9f9f9f;
    margin-right: 144px;
    display: flex;
    flex-direction: column;
    gap: 46px;
}

.footer-home-link{
    margin-top: 10px;
}

.footer-help ul{
    list-style-type: none;
    color: #9f9f9f;
    display: flex;
    flex-direction: column;
    gap: 46px;
    margin-right: 72px;
}

.footer-help-1{
    margin-top: 10px;
}

.footer-newsletter p{
    font-weight: 500;
    color: #9f9f9f;
    margin-bottom: 53px;
}

.footer-newsletter input{
    width: 200px;
    height: 21px;
    border: none;
    border-bottom: solid 1px;
    margin-right: 11px;
    outline: none;
}

.footer-newsletter button{
    border: none;
    background-color: white;
    border-bottom: solid 1px; 
    height: 21px;  
}

.footer-newsletter input::placeholder{
    font-size: 14px;
}

.footer-main-content{
    margin-top: 48px;
    display: flex;
    height: 312px;
    gap: 136px;
}




