*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: white;
    font-family: "Poppins";
}

a{
    color:black
}

.navbar{
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    margin-left: 54px;
}

.furniro-logo{
    padding: 0 0 3px 3px
}

.nav-button{
    width: 430px;
    height: 24px;
    display: flex;
    gap: 75px;
    font-weight: 500;
    font-size: 16px;
    
}

.icon-button{
    display: flex;
    gap: 45px;
    margin-right: 100px;
}

.hero{
    height: 716px;
    background-image: url(/media/hero-bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}

.hero-content{
    width: 643px;
    height: 443px;
    position:absolute;
    background-color: #fff3e3;
    top: 253px;
    left: 51.5%;
    border-radius: 10px;
}

.hero-conteiner{
    padding: 62px 0 0 39px;
}

.hero-p1{
    font-weight: 600;
    padding-bottom: 4px;
    letter-spacing: 3px;
}

.hero-conteiner > h2{
    font-weight: 700;
    font-size: 52px;
    color:#B88E2F;
    padding-bottom: 18px;
    height: 127px;
    line-height: 65px;
}

.hero-p2{
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 46px;
}

.hero-conteiner > button{
    width: 222px;
    height: 74px;
    background-color: #B88E2F;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 16px;
    cursor:pointer;
}

.category{
    width: 1183px;
    height: 685px;
    margin: 56px 0 56px;
    margin-inline: auto;
}

.category-text{
    text-align: center;
}

.category-text > h2{
    font-size: 32px;
    color: #333333;
}

.category-text > p{
    font-size: 20px;
    color: #666666;
    margin-bottom: 62px;
}

.category-items{
    display: flex;
    gap: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;

}

.category-items > div > div{
    width: 381px;
    height: 480px;
    border-radius: 10px;
}

.cat-item1{
    background-image: url(/media/category-item1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cat-item2{
    background-image: url(/media/category-item2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}

.cat-item3{
    background-image: url(/media/category-item3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
}

.category-items > div > p{
    margin-top: 30px;
}

.products-container{
    width: 1236px;
    height: 1084px;
    margin: auto;
    text-align: center;
}

.products-container > button{
    width: 245px;
    height: 48px;
    color: #B88E2F;
    border-color: #B88E2F;
    font-size: 16px;
    font-weight: 600;
    border-style:solid;
    background-color: white;
}

.products h2{
    font-size: 40px;
}

.products-row1{
    margin: 32px 0 32px;
    display: flex;
    gap: 32px;
    text-align: left;
}

.products-row2{
    display: flex;
    gap: 32px;
    text-align: left;
    margin-bottom: 32px;
}

.image-container img{
    width: 285px;
    height: 301px;
}

.product-card{
    position: relative;
    width: 285px;
    height: 446px;
    background-color:#F4F5F7;
}

.discount{
    color: white;
    top: 20px;
    right: 20px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #E97171;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card-info{
    margin-top: 16px;
    padding-left: 16px;
}

.product-card-info > h3{
    font-size: 24px;
    font-weight: 600;
}

.product-description{
    color: #898989;
    font-weight: 500;
    margin: 8px 0 8px;
}

.price{
    font-size: 20px;
    font-weight: 600;
}

.price > span{
    font-size: 16px;
    font-weight: 400;
    color: #B0B0B0;
    text-decoration: line-through;
}

.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0.0, 0.0, 0.0, 0.5);
    transition: opacity 0.3s ease;
}

.overlay-buttons{
    display: flex;
    gap: 20px;
    color: white;
}

.overlay-buttons i{
    cursor: pointer;
}

.overlay  button{
    width: 202px;
    height: 48px;
    color: #B88E2F;
    font-size: 16px;
    font-weight: 600;
    cursor:pointer;
    border: none;
}

.overlay button:hover{
    background-color: #dddddd;
    transition: 0.3s ease;
}

.product-card:hover .overlay{
    opacity: 1;
}
